@import "reset";
@import "variables/globals";
@import "themes/dark";
@import "themes/light";

body {
  font-family: consolas, "Open Sans", serif;
  color: var(--primary-color);
}

h1 {
  margin-bottom: 30px;
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
}

.page-wrapper {
  flex: 1;
  padding: 30px;
}

nav {
  a {

    &.active {
      color: var(--secondary-color);

      svg {
        path,
        circle {
          stroke: var(--secondary-color);
        }
      }

      &:hover {
        color: var(--secondary-color);

        svg {
          path,
          circle {
            stroke: var(--secondary-color);
          }
        }
      }
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}