@import "reset";
@import "variables/globals";
@import "themes/dark";
@import "themes/light";

body {
  font-family: consolas, "Open Sans", serif;
  color: var(--primary-color);
}

h1 {
  margin-bottom: 30px;
  color: var(--primary-color);
  // font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
}

.page-wrapper {
  flex: 1;
  padding: 30px;
}

nav {
  a {
    &.active {
      color: var(--navbar-active-link-color);

      svg path {
        fill: var(--navbar-active-link-color);
      }
    }
    &:hover {
      color: var(--navbar-link-hover-color);

      svg path {
        fill: var(--navbar-active-link-color);
      }
    }
  }
}