.ThemeSwitcher {
  cursor: pointer;
  padding: 2px;
  margin-left: 20px;
  border-radius: 60px;
  border: none;
  background: var(--theme-bg);
  display: flex;
  // transition: 0.2s;

  > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }

  &:hover {
    background: var(--theme-bg-hover);
  }

  &.dark {
    .icon {
      path { fill: var(--primary-color); }

      path,
      circle { stroke: var(--primary-color); }
    }
  }
  &.light {
    .icon {
      circle { fill: var(--yellow); }

      path,
  circle { stroke: var(--inverted-color); }
    }
  }
}

.icon {
  width: 24px;
  vertical-align: bottom;
  path,
  circle { fill: transparent; }
}
