.Text {
  width: 100%;
}

.title {
  font: var(--font-l);
}

.text {
  font: val(--font-m);
  opacity: 0.8;
}

.primary {
  color: var(--inverted-color);
}

.error {
  display: inline-block;
  color: red;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
