.Button {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  border-color: #fff;
  box-shadow: none;
  transition: background 0.2s;
  cursor: pointer;
}

.clear {
  background: transparent;
}

.clear_dark {
  color: #fff;
  background: transparent;

  &:hover {
    background: rgb(255 255 255 / 10%);
  }
}

.outlined {
  border-color: rgb(0 0 0 / 10%);
  background: transparent;
}
