.Button {
  padding: 6px 10px 7px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;
  transition: background 0.2s;
  cursor: pointer;

  &.size_s {
    padding: 4px 8px 5px;
    font-size: 14px;
  }

  &.size_m {
    padding: 6px 10px 7px;
    font-size: 16px;
  }

  &.size_l {
    padding: 8px 12px 9px;
    font-size: 18px;
  }

  &.size_xl {
    padding: 12px 30px 13px;
    font-size: 20px;
  }
}

.primary {
  background: var(--primary-color);
  color: var(--bg-color);
}

.clear {
  background: transparent;
}

.clear_dark {
  color: #fff;
  background: transparent;

  &:hover {
    background: rgb(255 255 255 / 10%);
  }
}

.outlined {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}

.disabled {
  opacity: 0.5;
}
