.lang_icon {
  width: 22px;
  vertical-align: bottom;
  position: relative;
  transition: opacity 0.1s;

  path {
    transition: stroke 0.2s;
    stroke-width: 2;
  }
}

.lang_btn {
  width: 43px;
  height: 43px;
}
