.app.dark {
  --bg-color: #0e0c16;

  --primary-color: #b700ff;
  --secondary-color: #a7a7a7;

  --navbar-bg: #15131e;
  --navbar-links-color: #fff;
  --navbar-themeswitcher-bg: #2e2344;

  --theme-icon__light-fill: transparent;
  --theme-icon__light-stroke: #6c4f85;
  --theme-icon__dark-fill: #ffeeb2;
}