.app_light_theme {
  --bg-color: #e7e5ee;
  --primary-color: rgb(78, 0, 208);
  --primary-color-30: rgb(78 0 208 / 30%);
  --primary-color-70: rgb(78 0 208 / 70%);
  --secondary-color: #4e00d0;
  --active-color: #472788;
  --yellow: #eeff00;
  --inverted-color: rgb(58, 54, 65);
  --red-color: #ff4400;
  --red-color-10: rgb(255 68 0 / 10%);
  --red-color-30: rgb(255 68 0 / 30%);
  --red-color-70: rgb(255 68 0 / 70%);

  // navbar
  --navbar-bg: #d5d3e2;
  --navbar-links-hover: #472788;
  --navbar-links-bg-hover: rgb(8 0 59 / 5%);
  --navbar-themeswitcher-bg: #efedf5;
  --navbar-border-line: 1px solid rgb(0 0 0 / 4%);

  // navbar icons
  --nav-icon-color: #9897a3;
  --nav-icon-active-color: #fff;

  --plate-bg: #edecf3;

  // modal
  --overlay-color: rgb(48 42 72 / 70%);
  --modal-bg: #e7e5ee;

  // theme switcher
  --theme-bg: #efeef4;
  --theme-bg-hover: #f6f5fa;

  // lang switcher
  --lang-icon-stroke: #000;

  // skeleton
  --skeleteon-shadow: rgba(0, 0, 0, .1);
  --skeleteon-color: rgb(255, 255, 255);
}