.NavBar {
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: var(--navbar-bg);
  border-bottom: var(--navbar-border-line);
}

.navbar__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.signin {
  margin-left: 20px;
  padding: 10px 16px 11px !important;
}
