.NavBar {
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: var(--navbar-bg);
  border-bottom: var(--navbar-border-line);
}

.navbar__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  button {
    font-size: 17px;
    color: var(--inverted-color);
    margin-left: 20px;
  }
}

a.active {
  color: red;
}
