.NavBar {
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: var(--navbar-bg);
  border-bottom: var(--navbar-border-line);
}

.navbar__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links {
  a {
    text-decoration: none;
    font-size: 17px;
  }

  a + a {
    margin-left: 30px;
  }
}

a.active {
  color: red;
}
