.NaviLink {
  color: var(--nav-icon-color);
  transition: 0.2s;
  padding: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;

  svg {
    margin-left: 20px;
    transition: 0.2s;
    width: 24px;

    path,
    circle {
      transition: 0.2s;
      fill: none;
      stroke: var(--navbar-links-color);
      stroke-width: 1.5px;
    }
  }

  span {
    white-space: nowrap;
    position: absolute;
    left: 40px;
  }

  svg + span {
    margin-left: 20px;
  }
}

.collapsed {
  svg {
    margin-left: 10px;
  }
}

.primary {
  color: var(--navbar-links-color);

  &:hover {
    color: var(--navbar-links-hover-color);
    background: var(--navbar-item-hover-color);

    svg path,
    svg circle {
      stroke: var(--navbar-links-hover-color);
    }
  }
}
