.ProfileCard {
  padding: 25px 30px 35px;
  border-radius: 8px;
  background: var(--plate-bg);
}

.editBtn {
  margin-left: 30px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input,
select {
  margin-bottom: 25px;
  width: 300px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.column {
  margin-right: 30px;
}
