.ThemeSwitcher {
  cursor: pointer;
  padding: 2px;
  margin-left: 20px;
  border-radius: 60px;
  border: none;
  background: var(--navbar-themeswitcher-bg);
  display: flex;
  > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }
}

.icon {
  width: 24px;
  vertical-align:bottom;
  circle {fill: var(--theme-icon__light-fill)}
  path {fill: var(--theme-icon__dark-fill)}
  path, circle {stroke: var(--theme-icon__light-stroke)}
}
